
    <button mat-fab color="primary" class="new-event" routerLink="/new-event">
      <i class="material-icons">note_add</i>
    </button>
   
   <!--
    <button mat-fab color="primary" class="edit" routerLink="/edit">
      <i class="material-icons">edit</i>
    </button>
    <button mat-fab color="primary" class="delete" routerLink="/delete">
      <i class="material-icons">delete</i>
    </button>
    -->

    <br>
    <br>

    <!-- Table -->
    <!-- <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Row</button> -->

    <table mat-table [dataSource]="eventsList" matSort   
    class="mat-elevation-z8">

      <ng-container matColumnDef="identifier">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Identifier"> Identifier </th>
        <td mat-cell *matCellDef="let element"> {{element.identifier}} </td>
      </ng-container>
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Title"> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>
      <ng-container matColumnDef="location">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Location"> Location </th>
        <td mat-cell *matCellDef="let element"> {{element.location}} </td>
      </ng-container>

      <!--
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by ID"> ID </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      -->

      <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link"> 
        <a (click)="openDialog_edit('Update',element)"><i class="material-icons">edit</i></a> 
        <a (click)="openDialog_delete('Delete',element)"><i class="material-icons">delete</i></a>
      </td>
    </ng-container>

    
      <!-- Row Click-able -->
      <!-- allow clickRows only when no row is selected-->

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" 
          (click)="selection.toggle(row)"          
          (click)="clickedRow.add(row)" 
          [ngClass]="{hovered: row.hovered, highlighted: selection.isSelected(row)}"
          (mouseover)="row.hovered = true" (mouseout)="row.hovered = false">
      </tr>
    </table>

      <!-- Test Code for displaying the currently selected row -->
 <!--      
      <br>
      <div>
        <h3>
          Click Log
        </h3>
      </div>     

      <ul>
        <li *ngFor="let clickedRow of clickedRow">
          Clicked on {{clickedRow.title}}
        </li>
      </ul>

      -->