.event-container
  { background-color: white; 
}

@media (max-width: 720px) {
  div.events {
    grid-template-columns: 1fr;
  }
}

div.events {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
  
  button.new-event {
    position: top;
    bottom: 15px;
    right: 15px;
    margin-left: 20px;
    margin-top: 20px;
  }

  button.edit {
    position: top;
    bottom: 15px;
    right: 15px;
    margin-left: 20px;
    margin-top: 20px;
  }

  button.delete {
    position: top;
    bottom: 15px;
    right: 15px;
    margin-left: 20px;
    margin-top: 20px;
  }
  


  table.mat-table {
    display: table;
    width: 100%;}


  .mat-row .mat-cell {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
  }
  
  .mat-row:hover .mat-cell {
    border-color: currentColor;
  }
  
  .demo-row-is-clicked {
    font-weight: bold;
  }

  .mat-row.hovered {
    background: #eee;
  }

  .mat-row.highlighted {
    background: #999;
}

  th.mat-sort-header-sorted {
    color: black;
}