


<mat-card id="card" style="text-align: center;">
	<mat-card-title>
    New Event
	</mat-card-title>
  <br>
	<mat-card-content>
		<mat-form-field>
			<input matInput placeholder="Identifier (eg. Crisis-13)" id="events-identifier" (keyup)="updateIdentifier($event)">  
		</mat-form-field><br/>
		<mat-form-field>
			<input matInput placeholder="Title (eg. Flood in City Center)" id="events-title" (keyup)="updateTitle($event)">
		</mat-form-field><br/>
    <form>
      <mat-form-field appearance="fill">
        <mat-label>City or Community</mat-label>
        <mat-select [(ngModel)]="selectedValue" name="City or Community">
          <mat-option *ngFor="let cities_kreis_steinfurt of cities_kreis_steinfurts" [value]="cities_kreis_steinfurt.value">
            {{cities_kreis_steinfurt.viewValue}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <!-- {{selectedValue}} -->
    </form>
		<button mat-raised-button color="primary" style="margin-right:5px;" button (click)="saveEvent()">Save</button>
    <button mat-raised-button color="basic" style="margin-right:5px;" button (click)="cancelNewEvent()">Cancel</button>
	</mat-card-content>